---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import HowItWorks from "../components/sections/HowItWorks.astro";
import CalculatorPlasticKitchens from "../components/sections/CalculatorPlasticKitchens.astro";
import Promotions from "../components/sections/Promotions.astro";
import Reviews from "../components/sections/Reviews.astro";
import FAQ from "../components/sections/FAQ.astro";
import WhatImportant from "../components/sections/WhatImportant.astro";
import Companys from "../components/sections/Companys.astro";
import AboutUs from "../components/sections/AboutUs.astro";
import ReUsableTable from "../components/sections/ReUsableTable.astro";
import CustomFurniture from "../components/sections/CustomFurniture.astro";
import ContactForm from "../components/sections/ContactForm.astro";
import FeaturesCards from "../components/sections/FeaturesCards.astro";
import TypeOfKitchen from "../components/sections/TypeOfKitchen.astro";

import { heroData, servicesData, whyUsData, howItWorksData, promotionsData, reUsableTableData, reUsableTableData2, reUsableTableData3, reUsableTableData4, customFurnitureData, whatImportantData, companysData, aboutUsData, reviewsData, calculatorData, contactFormData, featuresCardsData, typeOfKitchenData, servicesData2 } from "../data/shelves";

const faqs = [
  {
    question: "Сколько занимает изготовление и установка?",
    answer: "В среднем 5–10 дней. У нас собственное производство, поэтому всё без задержек. Полки приезжают точно в срок и сразу готовы к установке."
  },
  {
    question: "Можно ли установить полки, если стены неровные?",
    answer: "Да, можно. Мы подбираем крепления под любой тип поверхности — гипсокартон, бетон, плитку. Полки будут держаться надёжно и выглядеть аккуратно."
  },
  {
    question: "Делаете ли вы полки из нестандартных материалов?",
    answer: "Да. Помимо ЛДСП и МДФ, работаем со стеклом, металлом и шпоном. Получаются уникальные полки, идеально вписывающиеся в интерьер."
  },
  {
    question: "Не провиснут ли полки со временем?",
    answer: "Нет. Мы используем фурнитуру Blum, Hettich, Boyard и панели Egger, Kronospan. Такие полки выдерживают даже большие нагрузки."
  },
  {
    question: "Можно внести изменения после изготовления?",
    answer: "Да, если конструкция уже установлена — доработаем без лишних формальностей. Мы всегда заинтересованы, чтобы полки идеально подошли именно вам."
  },
  {
    question: "Могу ли я заказать, если ремонт ещё не закончен?",
    answer: "Да, мы делаем замеры по плану помещения. Пока идёт ремонт, ваши полки будут изготовлены и готовы к установке."
  },
  {
    question: "Чем ваше изготовление отличается от маркетплейсовых?",
    answer: "Наши изделия точнее по размерам, прочнее и выглядят эстетичнее. Всё делается под вас, а не под усреднённый стандарт."
  },
  {
    question: "Делаете ли вы подсветку для полок?",
    answer: "Да, можем встроить LED-подсветку любого оттенка. Свет делает полки визуально легче, подчёркивает фактуру и создаёт уют."
  },
  {
    question: "Из чего лучше сделать полки для ванной или кухни?",
    answer: "Рекомендуем влагостойкий ЛДСП или металл с порошковым покрытием — они легко очищаются."
  },
  {
    question: "Делаете ли вы полки в стиле лофт или минимализм?",
    answer: "Да, мы адаптируем дизайн под любой стиль — от строгого офиса до уютной спальни. Ваши полки будут не только функциональными, но и эстетичными."
  }
];
---

<Layout
  title="1️⃣ Полки на заказ в Алматы — от замера до монтажа за неделю"
  description="Полки на заказ в Алматы ⭐ Изготавливаем под любые размеры и интерьер за неделю, с точным замером, доставкой и сборкой ⭐ Узнайте точную цену прямо сейчас!"
>
  <main>
    <Hero {...heroData} />
    <WhyUs {...whyUsData}
    image1="/images/home/why-us-shelves-1.webp"
    image1Alt="Описание первой картинки"
    image2="/images/home/why-us-shelves-2.webp"
    image2Alt="Описание второй картинки"
    />
    <ReUsableTable {...reUsableTableData}/>
    <ReUsableTable {...reUsableTableData2}/>
    <WhatImportant {...whatImportantData}/>
    <HowItWorks {...howItWorksData}/>
    <ReUsableTable {...reUsableTableData3}/>
    <ContactForm {...contactFormData} />
    <Services {...servicesData} items={[]}/>
    <Companys {...companysData}/>
    <Reviews {...reviewsData}/>
    <FAQ faqs={faqs} title="Часто задаваемые вопросы при изготовлении полок на заказ" />
  </main>
</Layout>
